
/*!*@media screen and (max-width: 1200px)*!*/

/*.header-bar{*/
    /*background: #F8F8F8;*/
    /*width: 100%;*/
    /*color: #999;*/
    /*height: 40px;*/
    /*font-size: 12px;*/
/*}*/
/*.header-bar .current-city{*/
    /*color: #666;*/
/*}*/
/*.header-bar .current-city:hover{*/
    /*color: #31BBAC;*/
/*}*/
/*.com-header .header-content{*/
    /*width: 1190px;*/
    /*margin: 0 auto;*/
    /*padding-bottom: 35px;*/
/*}*/

/*.header-bar .header-bar-position{*/
    /*float: left;*/
    /*padding-top: 12px;*/
/*}*/

/*.header-bar .change-city{*/
    /*background: #F4F4F4;*/
    /*border: 1px solid #E5E5E5;*/
    /*border-radius: 2px;*/
    /*color: #666;*/
    /*margin: 0 4px;*/
    /*padding: 0 2px;*/
/*}*/

/*.header-bar .change-city:hover{*/
    /*color: #31BBAC;*/
/*}*/

/*.com-header a{*/
    /*text-decoration: none;*/
/*}*/
/*.com-header a:hover{*/
    /*color: #31BBAC;*/
/*}*/
/*.near-citys{*/
    /*display: inline-block;*/
/*}*/
/*.header-bar .city-guess{*/
    /*margin: 0 4px;*/
    /*color: #999;*/
    /*text-decoration: none;*/
/*}*/

/*.user-entry .growth-entry{*/
    /*color: #31BBAC;*/
    /*margin-left: 10px;*/
/*}*/
/*.user-entry .extra-entry{*/
    /*color: #999;*/
    /*margin-left: 10px;*/
/*}*/


/*!*右邊導航*!*/
/*.header-bar .header-bar-nav{*/
    /*float: right;*/
/*}*/
/*.header-bar .header-bar-nav ul{*/
    /*padding: 0;*/
/*}*/
/*.header-bar .header-bar-nav ul li{*/
    /*list-style: none;*/
    /*float: left;*/
    /*position: relative;*/
    /*height: 40px;*/
    /*padding: 0px 14px;*/
    /*box-sizing: border-box;*/
    /*border-left: 1px solid transparent;*/
    /*border-right: 1px solid transparent;*/
/*}*/
/*.header-bar .header-bar-nav ul li a{*/
    /*color: #999;*/
/*}*/
/*.header-bar .header-bar-nav ul li a:hover{*/
    /*color: #31BBAC;*/
/*}*/


/*!*logo*!*/
/*.com-header .header-title-module{*/
    /*float: left;*/
    /*padding-top: 28px;*/
    /*padding-right: 60px;*/
    /*padding-bottom: 40px;*/
    /*font-size: 16px;*/
    /*min-width: 220px;*/
    /*height: 54px;*/
    /*box-sizing: content-box;*/
/*}*/
/*.header-title{*/
    /*margin-left: 0;*/
    /*margin-top: 0;*/
    /*display: inline-block;*/
/*}*/
/*.header-title img{*/
    /*width: 126px;*/
    /*height: 46px;*/
    /*border: 0;*/
    /*vertical-align: initial;*/
/*}*/
/*.com-header .header-search-module{*/
    /*float: left;*/
    /*padding-top: 28px;*/
    /*position: relative;*/
/*}*/
/*.com-header .header-search-module .header-search-block{*/
    /*width: 550px;*/
    /*height: 40px;*/
    /*border: 1px solid #13D1BE;*/
    /*background: #fff;*/
    /*border-radius: 4px;*/
/*}*/

/*.com-header .header-search-module .header-search-hotword{*/
    /*padding-top: 8px;*/
    /*font-size: 12px;*/
    /*width: 550px;*/
    /*overflow: hidden;*/
    /*height: 25px;*/
    /*box-sizing: border-box;*/
    /*text-align: left;*/
    /*padding-left: 12px;*/
/*}*/
/*.com-header .header-search-module .header-search-hotword a{*/
    /*color: #999;*/
    /*margin-right: 10px;*/
    /*margin-bottom: 3px;*/
    /*display: inline-block;*/
/*}*/
/*.com-header .header-search-module .header-search-block .header-search-btn{*/
    /*outline: 0;*/
    /*width: 16%;*/
    /*box-sizing: border-box;*/
    /*line-height: 100%;*/
    /*height: 100%;*/
    /*background: #13D1BE;*/
    /*border: none;*/
    /*float: right;*/
    /*color: #fff;*/
    /*cursor: pointer;*/
    /*border-bottom-left-radius: 0;*/
    /*border-top-left-radius: 0;*/
/*}*/
/*.com-header .header-search-module .header-search-block .header-search-input{*/
    /*border: none;*/
    /*line-height: 100%;*/
    /*box-sizing: border-box;*/
    /*display: inline-block!important;*/
    /*padding: 10px;*/
    /*font-size: 15px;*/
    /*height: 100%;*/
    /*background: 0 0;*/
    /*width: 84%;*/
/*}*/
/*.com-header .header-commitment{*/
    /*width: 186px;*/
    /*float: right;*/
    /*color: #13D1BE;*/
    /*padding-top: 30px;*/
    /*text-align: center;*/
/*}*/

/*.com-header ul{*/
    /*padding: 0;*/
/*}*/
/*.commitment-item{*/
    /*list-style: none;*/
    /*color: #999;*/
    /*width: 33%;*/
    /*float: left;*/
    /*transform: scale(.9);*/
/*}*/


/*!*主題*!*/
/*.page.index{*/
    /*text-align: center;*/
/*}*/

/*.page.index .index-container{*/
    /*width: 1190px;*/
    /*margin: 0 auto;*/
/*}*/

/*.banner-container{*/
    /*width: 1190px;*/
    /*margin: 0 auto;*/
    /*position: relative;*/
/*}*/
/*.banner-container .left-banner{*/
    /*float: left;*/
/*}*/
/*.banner-container .left-banner .category-nav-container{*/
    /*width: 230px;*/
    /*height: 475px;*/
    /*position: relative;*/
    /*text-align: left;*/
    /*box-sizing: border-box;*/
    /*float: left;*/

    /*margin-top: -50px;*/
    /*color: #FFF;*/
    /*background: rgba(2,181,157,.85);*/
    /*background: -webkit-linear-gradient(-90deg,rgba(2,181,157,.85) 2%,rgba(22,146,183,.85) 100%);*/
    /*background: -o-linear-gradient(-90deg,rgba(2,181,157,.85) 2%,rgba(22,146,183,.85) 100%);*/
    /*background: -moz-linear-gradient(-90deg,rgba(2,181,157,.85) 2%,rgba(22,146,183,.85) 100%);*/
    /*background: linear-gradient(to -90deg,rgba(2,181,157,.85) 2%,rgba(22,146,183,.85) 100%);*/
/*}*/

/*.banner-container .left-banner .category-nav-container .category-nav-title-wrapper{*/
    /*height: 50px;*/
    /*padding-top: 15px;*/
    /*box-sizing: border-box;*/
/*}*/
/*.banner-container .left-banner .category-nav-container .category-nav-title{*/
    /*font-size: 16px;*/
    /*font-weight: 400;*/
    /*margin-left: 15px;*/
/*}*/

/*!*@media screen and (max-width: 1200px){*!*/
    /*!*.com-header .header-content{*!*/
        /*!*width: 960px;*!*/
        /*!**!*/
    /*!*}*!*/
/*!*}*!*/
.com-header{
    background: #fff;
    box-shadow: 0 2px 27px 0 rgba(0,0,0,.1);
}
.com-header .header-content{
    width: 1190px;
    margin: 0 auto;
    padding-bottom: 35px;
}
.header-bar{
    background: #F8F8F8;
    width: 100%;
    color: #999;
    height: 40px;
    font-size: 12px;
    /*color: #999;*/
}
.header-bar a{
    color: #999;
}
.header-bar a:hover{
    color:#F9966A;
}
.header-bar .header-nav-my{
    width: 100%;
}
.header-bar .header-bar-position{
    float: left;
    padding-top: 12px;
}
.header-bar .header-bar-position .header-icon{
    font-size: 12px;
    font-family: com_header!important;
    /*font-size: 16px;*/
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header-bar .header-bar-position .user-entry{
    margin-left: 15px;
}
.header-bar .header-bar-position .user-entry a{
    margin-left: 15px;
    color: #999;
}
.header-bar .header-bar-position .user-entry a:hover{
    color: #F9966A;
}
.header-bar .current-city{
    color: #666;
}
.header-bar .change-city{
    background: #F4F4F4;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    color: #666;
    margin: 0 4px;
    padding: 0 2px;
}
.header-bar .change-city:hover{
    color:#F9966A;
}
.header-bar .near-citys{
    display: inline-block;
}
.header-bar .city-guess{
    margin: 0 4px;
}

/*右边导航*/
.header-bar .header-bar-nav{
    float: right;
}
.header-bar .header-bar-nav ul{
    padding: 0;
    margin: 0;
}
.header-bar .header-nav-first>li{
    float: left;
    position: relative;
    height: 40px;
    padding: 12px 14px;
    box-sizing: border-box;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.header-bar .header-nav-my a{
    line-height: 35px;
}
.header-bar .header-nav-first>li a{
    display: block;
}
.header-bar .header-nav-merchant a, .header-bar .header-nav-my a{
    line-height: 35px;
}
/*我的美团*/
.header-bar .has-child:first-child:hover,.header-bar .has-child:nth-child(3):hover,.header-bar .has-child:nth-child(4):hover{
    color:#F9966A;
    background-color: #fff;
    border-color: #E5E5E5;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
}
.header-bar .has-child:first-child:hover .header-nav-my.header-nav-second{
    display: block!important;
    border-top: 0px!important;
}
/*商家中心*/
.header-bar .header-nav-merchant{
    width: 140%;
    border-top-left-radius: 4px;
}
.header-bar .has-child:nth-child(3):hover .header-nav-merchant.header-nav-second{
    display: block!important;
    border-top: 0px!important;
}
/*网站导航*/
.header-bar .header-nav-site{
    width: 1200px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    padding: 30px 36px 36px 47px;
}
.header-bar .header-nav-site .header-jiulv{
    width: 234px;
}
.header-bar .header-nav-site .header-meishi{
    width: 156px;
}
.header-bar .header-nav-site .header-movie{
    width: 99px;
}
.header-bar .header-nav-site .header-app{
    float: right!important;
}
.header-bar .header-nav-site .header-app dd{
    float: left;
    margin-right: 20px;
}
.header-bar .header-nav-site .header-app .appicon{
    width: 60px;
    height: 60px;
    border: 0;
}
.header-bar .has-child:nth-child(4):hover .header-nav-site.header-nav-second{
    display: block!important;
    border-top: 0px!important;
}
/*ending*/
.header-bar .header-nav-site .header-meishi dd{
    width: 50%;
    text-align: center;
    float: left;
}
.header-bar .header-nav-site .header-jiulv dd{
    width: 33%;
    text-align: center;
    float: left;
}
.header-bar .header-nav-site .header-nav-third{
    float: left;
    margin-right: 47px;
}
.header-bar .header-nav-site .header-nav-third dd a{
    display: block;
    padding: 5px 0;
}
.header-bar .header-nav-site .header-nav-third dt{
    margin-bottom: 26px;
    font-size: 14px;
    color: #F9966A;
}
    /*我的美团显示*/
.header-bar .header-nav-second{
    position: absolute;
    border: 1px solid #E5E5E5;
    background: #fff;
    text-align: center;
    z-index: 1000;
    right: -1px;
    top: 95%;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: content-box;
    display: none;
}
/*搜索部分*/
.com-header li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.com-header .header-title-module{
    float: left;
    padding-top: 28px;
    padding-right: 60px;
    padding-bottom: 40px;
    font-size: 16px;
    min-width: 220px;
    height: 54px;
    box-sizing: content-box;
}
.com-header .header-title-module .header-title{
    margin-left: 0;
    margin-top: -5px;
    display: inline-block;
}
.com-header .header-title-module .header-title img{
    width: 75px;
    height: 55px;
    border: 0;
    vertical-align: initial;
}
.com-header .header-search-module{
    float: left;
    padding-top: 28px;
    position: relative;
}
.com-header .header-search-module .header-search-block{
    width: 550px;
    height: 40px;
    border: 1px solid #F9966A;
    background: #fff;
    border-radius: 4px;
}
.com-header .header-search-module .header-search-block .header-search-input{
    border: none;
    line-height: 100%;
    box-sizing: border-box;
    display: inline-block!important;
    padding: 10px;
    font-size: 15px;
    height: 100%;
    background: 0 0;
    width: 84%;
}
.com-header .header-search-module .header-search-block .header-search-btn{
    outline: 0;
    width: 16%;
    box-sizing: border-box;
    line-height: 100%;
    height: 100%;
    background: #F9966A;
    border: none;
    float: right;
    color: #fff;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.com-header .header-search-hotword{
    padding-top: 8px;
    font-size: 12px;
    width: 550px;
    overflow: hidden;
    height: 25px;
    box-sizing: border-box;
    text-align: left;
    padding-left: 12px;
}
.com-header .header-search-hotword a{
    color: #999;
    margin-right: 10px;
    margin-bottom: 3px;
    display: inline-block;
}
.com-header .header-search-hotword a:hover{
    color: #F9966A;
}
.com-header .header-commitment{
    width: 186px;
    float: right;
    color: #13D1BE;
    padding-top: 30px;
    text-align: center;
}
.com-header .header-commitment .commitment-item{
    width: 33%;
    float: left;
    transform: scale(.9);
}
.com-header .header-commitment .commitment-item span{
    color: #999;
    font-size: 12px;
}
/*主题部分*/
.page.index{
    text-align: center;
}
.paeg.index .index-container{
    width: 1190px;
    margin: 0 auto;
}
.banner-container{
    width: 1190px;
    margin: 0 auto;
    position: relative;
    height: 427px;
}
.banner-container .left-banner{
    float: left;
}
.link.detail-text:hover{
    color:#F9966A!important;
}
.category-nav-container{
    width: 230px;
    height: 475px;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    float: left;
    margin-top: -50px;
    color: #FFF;
    background: rgba(248,149,105,.85)!important;
    background: -webkit-linear-gradient(-90deg,rgba(248,149,105,.85) 2%,rgba(249,150,106,.85) 100%)!important;
    background: -o-linear-gradient(-90deg,rgba(248,149,105,.85) 2%,rgba(249,150,106,.85) 100%)!important;
    background: -moz-linear-gradient(-90deg,rgba(248,149,105,.85) 2%,rgba(249,150,106,.85) 100%)!important;
    background: linear-gradient(to -90deg,rgba(248,149,105,.85) 2%,rgba(249,150,106,.85) 100%)!important;
}
.category-nav-container .category-nav-title-wrapper{
    height: 50px;
    padding-top: 15px;
    box-sizing: border-box;
}
.category-nav-container .category-nav-title-wrapper ul{
    padding: 10px 0 8px;
    height: 425px;
    box-sizing: border-box;
    display: block;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.category-nav-container .nav-li{
    position: relative;
    box-sizing: border-box;
    padding: 2px 12px;
    height: 26px;
}
/*.category-nav-container .nav-li:hover .category-nav-detail-wrapper{*/
    /*display: block!important;*/
/*}*/
.category-nav-container .nav-text-wrapper{
    display: inline-block;
    margin-left: 11px;
}
.category-nav-container .category-nav-content-wrapper ul{
    padding: 10px 0 8px;
    height: 425px;
    box-sizing: border-box;
    display: block;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px!important;
}
.category-nav-container .nav-text{
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    color: #fff;
    cursor: pointer;
}
.category-nav-container .category-nav-title{
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
}

/*右边*/
/*淘宝 京东 平多多*/
.link.waimailink:hover{
    color: #fbc700!important;
}
.link.manyanlink:hover{
    color: rgb(250, 60, 104)!important;
}
.banner-container .right-banner{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
}
.banner-container .right-banner .home-header-links{
    position: absolute;
    top: -45px;
    left: 20px;
}
.banner-container .right-banner .home-header-links a{
    color: #222;
    font-weight: 700;
    font-size: 16px;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
}
#banner-slider{
    width: 550px;
}
.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.slider .slider-content{
    position: relative;
    height: 100%;
    transition: left .5s;
    transition-timing-function: ease-out;
    width: 10000000px;
}
.slider .slider-pagination{
    position: absolute;
    z-index: 99;
    bottom: 10px;
    left: 50%;
}
.slider .btn-next{
    right: 10px;
}
.slider .btn{
    width: 40px;
    height: 40px;
    background: #333;
    position: absolute;
    z-index: 99;
    top: 43%;
    border-radius: 40px;
    opacity: 0;
    transition: opacity .5s;
    transform: scale(.95);
}
.slider .slider-content .slider-item{
    float: left;
    position: relative;
    height: 100%;
}
.slider-img, .slider-img-div{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.slider-img-div{
    width: 100%;
    height: 100%;
}

.slider-pagination .pagination{
    float: left;
    width: 10px;
    height: 2px;
    margin-right: 10px;
    transition: opacity .5s;
    background: #333;
}
.slider .btn{
    width: 40px;
    height: 40px;
    background: #333;
    position: absolute;
    z-index: 99;
    top: 43%;
    border-radius: 40px;
    opacity: 0;
    transition: opacity .5s;
    transform: scale(.95);
    text-align: center;
    cursor: pointer;
}
.slider .btn-next{
    right: 10px;
}
.slider .btn-pre{
    left: 10px;
}
.iconfont{
    font-family: iconfont!important;

}
.slider .btn .iconfont{
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
.banner-container .banner-row .pic-1{
    width: 150px;
    height: 240px;
    margin-left: 10px;
    background-size: 150px;
}
.banner-container .banner-row .pic-1,.banner-container .banner-row .pic-4{
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    margin-right: 10px;
}
.banner-container .banner-row .item{
    float: left;
}
.shadow, .shadow:hover{
    transition: box-shadow .5s;
}

/*登录*/
.login-container{
    width: 228px;
    height: 238px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
.login-container .btn-login{
    width: 118px;
    text-align: center;
    margin: 10px auto 15px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 40px;
    font-size: 14px;
    color: #333;
    transition: background-color .5s;
    display: block;
    line-height: 38px;
}
.login-container .default{
    padding-top: 30px;
    position: relative;
}
.login-container .head-img-row img{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 4px solid #E5E5E5;
}


.banner-container .banner-row .pic-2, .banner-container .banner-row .pic-3{
    width: 270px;
    height: 165px;
    background-size: 270px;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-right: 10px;
}
.banner-container .banner-row .pic-4{
    width: 150px;
    height: 165px;
    margin-top: 10px;
    background-size: 150px;
}

/*二维码*/
.banner-container .banner-row .download-app{
    width: 228px;
    height: 165px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
.banner-container .banner-row .download-app .sl{
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
}
.banner-container .banner-row .download-app .red{
    color: #EC5330;
    margin-right: 5px;
}
.banner-container .banner-row .download-app .gary{
    color: #3f3f3f;
}
.banner-container .banner-row .download-app .app-name{
    font-size: 16px;
    color: #222;
    font-weight: 500;
}
.banner-container .banner-row .download-app .qrcode-box{
    margin: 10px auto 0;
}
.qrcode-box img{
    width: 95px;
    height: 95px;
}

/*列表*/
.scenes-container {
    width: 1190px;
    margin: 40px auto;
}
.quality-container{
    margin: 40px auto;
}
.index-nav-container{
    width: 100%;
    height: 44px;
    line-height: 44px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.index-nav-container .title{
    font-size: 18px;
    margin-left: 13px;
    margin-right: 10px;
}
li{
    list-style: none;
}
.index-nav-container .nav-item{
    float: left;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 35px!important;
}

/*列表*/
.quality-area{
    width: 100%;
    height: 650px;
    padding: 11px 10px 10px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.quality-card{
    width: 33.3%;
    height: 314px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    background: #fff;
    transition: background-color .5s;
}
.quality-card .quality-img img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.quality-card .quality-img{
    cursor: pointer
}
.image{
    border: 0;
}

.quality-card .poi-info{
    text-align: left;
}
.quality-card .title{
    font-size: 16px;
    color: #222;
    height: 22px;
    line-height: 22px;
    margin-bottom: 8px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.quality-card .sub-title{
    font-size: 12px;
    color: #999;
    line-height: 18px;
    height: 18px;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.quality-card .price-info{
    height: 27px;
    overflow: hidden;
    margin-bottom: 10px;
}
.quality-card .bottom-right-info, .quality-card .sold{
    font-size: 12px;
    color: #999;
    float: right;
    margin-top: 10px;
}
.index-nav-container .nav-item.active:after{
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #fff;
    content: " ";
    display: block;
    width: 2px;
    height: 0;
    top: 37px;
    left: 0;
    right: 0;
    margin: auto;
}
/*猫眼*/
.maoyan-container{
    width: 1190px;
    margin: 40px auto;
}
.index-nav-container .total{
    float: right;
    margin-right: 12px;
}
.index-nav-container .total a{
    color: #fff;
}
.index-nav-container .nav-item{
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}
.scenes-body{
    background: #fff;
    padding: 20px 10px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    position: relative;
}
.slider .slider-content .slider-item-film{
    height: 297px;
    width: 214px;
    float: left;
    margin-right: 19px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}
.slider .slider-content .slider-item-film .film-img{
    border-radius: 4px;
    width: 100%;
    border: 0;
}
.slider .slider-content .slider-item-film .film-info{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 0,rgba(29,45,55,.8) 99%);
}
.slider .slider-content .slider-item-film .film-info .film-score{
    font-size: 12px;
    color: #fff;
    text-align: left;
    margin-top: 48px;
    padding-left: 10px;
    font-weight: 500;
}
.slider .slider-content .slider-item-film .film-info .film-score span{
    font-size: 16px;
    color: #FD9827;
    font-weight: 500;
}
.slider .slider-content .slider-item-film .film-info .film-name{
    text-align: left;
    color: #fff;
    padding-left: 10px;
    font-size: 16px;
    white-space: nowrap;
    width: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}
.slider:hover>.btn{
    opacity: .8;
    transition: opacity .5s;
}
.slider-pagination{
    position: absolute;
    z-index: 99;
    bottom: 8px;
    left: 50%;
}
.slider-pagination .pagination{
    float: left;
    width: 10px;
    height: 2px;
    margin-right: 10px;
    transition: opacity .5s;
    background: #333;
}

/*推荐名宿*/
.zhenguo-container{
    position: relative;
    width: 1190px;
    margin: 40px auto;
}
.minsu-ls-view{
    padding: 20px 0 0 20px;
    border: 1px solid #E5E5E5;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;
}
.minsu-ls-view .products{
    flex-wrap: wrap;
    /*justify-content: center;*/
}
.minsu-ls-view .minsu-item{
    float: left;
    margin-right: 18px;
}
.minsu-ls-view .minsu-item .product-card-header{
    position: relative;
}
.minsu-ls-view .minsu-item .product-card-header .product-img{
    width: 370px;
    border-radius: 4px;
    background: url(//p0.meituan.net/codeman/ae846a3….png) 50%;
    background-size: cover;
    max-width: 100%;
    height: 208px;
    margin-bottom: 11px;
    cursor: pointer;
}
.minsu-ls-view .minsu-item .product-card-header .head-img{
    border: 2px solid #FFF;
    height: 48px;
    width: 48px;
    position: absolute;
    bottom: -12px;
    right: 15px;
    z-index: 9;
    border-radius: 40px;
    background-image: url(http://p0.meituan.net/mmc/35ad1f9….png);
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.minsu-ls-view .minsu-item .product-info{
    text-align: left;
    padding-bottom: 25px;
}
.minsu-ls-view .minsu-item .product-info .price{
    font-weight: 500;
    font-size: 22px;
    color: #F60;
    letter-spacing: -.8px;
    padding: 4px 0;
}
.minsu-ls-view .minsu-item .product-info .price .price-icon{
    font-size: 14px;
}
.minsu-ls-view .minsu-item .sub-title{
    font-size: 12px;
    color: #999;
    text-align: left;
}
.minsu-ls-view .minsu-item .product-info .product-title{
    font-size: 16px;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 7px 0;
    font-weight: 400;
    width: 297px;
}
/*猜你喜欢*/
.recommend-container{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1190px;
    margin-bottom: 40px;
    /*padding-bottom: 25px;*/
}
.recommend-container .recommend-list{
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: 758px;
    padding: 10px 10px 20px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    text-align: left;
    display: flex;
}

/*.recommend-container .recommend-list::-webkit-scrollbar{*/
    /*display: none;*/
/*}*/
.recommend-container .recommend-list a{
    flex-wrap: wrap;
}

.recommend-container .recommend-list .recommend-item{
    display: inline-block;
    width: 19%;
    box-sizing: border-box;
    vertical-align: middle;
}
.recommend-container .recommend-list .recommend-item .card-container{
    padding: 10px;
}
.recommend-card-wrapper{
    width: 100%;
    box-sizing: border-box;
}
.recommend-card-wrapper .img-box{
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    background-color: #f4f4f4;
    background-image: url(//p0.meituan.net/codeman/ae846a3….png);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 4px;
    overflow: hidden;
}
.recommend-card-wrapper .info-box{
    position: relative;
    margin-top: 10px;
}
.recommend-card-wrapper .info-box .title{
    font-size: 14px;
    color: #222;
    line-height: 20px;
    width: 100%;
    margin: 0;
    font-weight: 500;
}
.recommend-card-wrapper .info-box .title.aligned{
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.recommend-card-wrapper .info-box .score-line.aligned{
    height: 24px;
}
.recommend-card-wrapper .info-box .score-line div,.recommend-card-wrapper .info-box .bottom-line div{
    display: inline-block;
}
.rate-stars{
    width: 84px;
    height: 24px;
    position: relative;
}
.rate-stars-dark{
    color:#c3c3c3;
}
.rate-stars-ul{
    list-style: none;
    padding: 0;
    margin: 3px 0;
    white-space: nowrap;
    text-align: left;
}
/*点赞信心*/
.rate-stars-light{
    color: #F90;
    position: absolute;
    top: 0;
    overflow: hidden;
}
/*猜你喜欢价格*/
.recommend-card-wrapper .info-box .score-line .comment-number{
    font-size: 12px;
    color: #999;
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
}
.recommend-card-wrapper .info-box .desc-line.aligned{
    height: 18px;
}
.recommend-card-wrapper .info-box .desc-line .desc{
    font-size: 12px;
    color: #999;
    width: 100%;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
}
.recommend-card-wrapper .info-box .bottom-line.aligned{
    height: 28px;
}
.recommend-card-wrapper .info-box .bottom-line{
    position: relative;
}
.recommend-card-wrapper .info-box .bottom-line .price-box{
    color: #F60;
}
.recommend-card-wrapper .info-box .bottom-line .price-box .yuan{
    font-size: 14px;
    font-weight: 700;
}
.rate-stars, .rate-stars-ul>li, .recommend-card-wrapper .info-box .bottom-line div, .recommend-card-wrapper .info-box .score-line div{
    display: inline-block;
}
.recommend-card-wrapper .info-box .score-line div{

}
.recommend-card-wrapper .info-box .bottom-line .price-box .price-number{
    font-size: 22px;
}
.numfont{
    font-family: numbers!important;
    letter-spacing: -.5px;
}
.recommend-card-wrapper .info-box .bottom-line .price-box .price-desc{
    font-size: 12px;
    margin-left: 4px;
    font-weight: 700;
}
/*底部*/
.button-nav{
    margin: 40px auto 0;
    width: 1190px;
    height: auto;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    background: #FFF;
}
.button-nav .title{
    width: auto;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    text-align: left;
    padding-left: 20px;
    line-height: 44px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 6px;
    background-color: #0ECAC7;
    background-image: linear-gradient(-90deg,#0ECAC7 0,#06C1AE 100%);
}
.button-nav .b-n-content{
    width: 100%;
    height: auto;
}
.button-nav .b-n-content .b-n-classification{
    width: 100%;
    height: auto;
    overflow: hidden;
}
/*.button-nav .b-n-content .b-n-classification:last-child{*/
    /*border: none!important;*/
/*}*/
.button-nav .b-n-content .b-n-classification .b-n-subtitle{
    width: 100px;
    height: 100%;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    text-align: center;
    padding: 10px 0;
}
.button-nav .b-n-content .b-n-classification .b-n-sublist{
    width: 1090px;
    height: auto;
    padding-top: 12px;
    float: left;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
}
.button-nav .b-n-content .b-n-classification:last-child .b-n-sublist{
    border-bottom: 0px;
}
.button-nav .b-n-content .b-n-classification .b-n-sublist .b-n-list-item{
    width: 100px;
    height: 17px;
    font-size: 12px;
    text-align: left;
    margin-bottom: 13px;
    float: left;
}
.button-nav .b-n-content .b-n-classification .b-n-sublist .b-n-list-item a{
    display: block;
    width: 80px;
    cursor: pointer;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.button-nav .b-n-content .b-n-classification .b-n-sublist .b-n-list-item .nav-promotion{
    font-size: 12px;
    color: #fff;
    background: #FF4848;
    font-weight: 400;
    border-radius: 10px;
    padding: 0 6px;
    margin: 0 5px;
    position: relative;
    top: -1px;
}

/*脚部*/
.com-footer{
    background: #f8f8f8;
    margin-top: 40px;
}
.com-footer .footer-content{
    width: 1190px;
    margin: 0 auto;
    color: #333;
    font-size: 12px;
    line-height: 2;
    box-sizing: border-box;
    text-align: left;
}
.com-footer .footer-content .footer-link{
    padding: 40px 45px;
    border-top: 1px solid #E5E5E5;
    /*border-bottom: 1px solid #E5E5E5;*/
}
.com-footer .footer-content .footer-link .footer-column{
    width: 20%;
    float: left;
}

/*底部列表*/
.com-footer .footer-content .footer-link dl{
    padding-bottom: 20px;
    color: #666;
}
.com-footer .footer-content .footer-link dl dt{
    font-size: 14px;
    font-weight: 500;
}
.com-footer .footer-content .footer-link dl a{
    color: #666;
}
.com-footer .footer-content .footer-copyright{
    color: #999;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 60px;
    line-height: 1.6;
}
.com-footer .footer-content .footer-copyright .footer-copyright-left{
    float: left;
}
.com-footer .footer-content .footer-copyright .footer-copyright-right{
    float: right;
    text-align: right;
}
.com-footer .footer-content .footer-copyright a{
    color: #999;
}
.com-footer .footer-content .footer-copyright .footer-copyright-cert{
    padding-top: 6px;
    text-align: left;
}
.com-footer .footer-content .footer-copyright .footer-copyright-cert a.sp-ft{
    display: inline-block;
    overflow: hidden;
    text-indent: -1000px;
    height: 38px;
    background-image: url(../img/sprites/footer.png);
    background-repeat: no-repeat;
    margin-right: 2px;
}
.com-footer .footer-content .footer-copyright .footer-copyright-cert .sp-ft--record {
    width: 109px;
    background-position: 0 -167px;
}
.com-footer .footer-content .footer-copyright .footer-copyright-cert .sp-ft--knet {
    width: 107px;
    background-position: 0 -127px;
}
.com-footer .footer-content .footer-copyright .footer-copyright-cert .sp-ft--12315 {
    width: 107px;
    background-position: 0 -40px;
}


/*侧边栏*/
.active2{
    display: block!important;
}

.com-footer div{
    width: 1190px;height: 100%;margin: 0 auto;
    text-align: center;
    color: #393939;
}
.com-footer div p{
    font-size: 16px!important;
    color: #393939;
}
.com-footer div ul li{
    flex: 1;text-align: center;margin-top: 47px;
}
.com-footer div ul li p{
    font-size: 16px!important;
    color: #393939;
}
.com-footer div ul li img{
    width: 142px;height: 142px;margin-top: 16px;
}
/*折扣*/
.price-number span{
    padding: 3px 14px;
    font-size: 14px;
    border: 2px solid #F89569;
    border-radius: 2px;
    margin-right: 20px;
}
.taobaocontent{
    text-align: center;
    padding: 15px;
    /*margin-right: 30px!important;*/
}
.minsu-ls-view .minsu-item .product-card-header .product-img{
    background: none!important;
}
.zhenguo-container:hover .shopslidebtn-pre{
    opacity: 1!important;
}

.imgget{
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.imgget:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
.imgget2:hover{
    position: relative;
    z-index: 999999999999;
}
[v-cloak]{ display: none; }

.taobaolist .products{
    justify-content: center;
}
@media screen and (max-width: 1200px){
    .com-header{
        width: 1200px;
    }
    body,html{
        width: 1200px;
    }
    .taobaolist .products{
        justify-content: flex-start;
    }
    .taobaocontent{
        padding: 28px;
    }
}
/*.banner-container .right-banner .home-header-links{*/
    /*margin-top: -45px;*/
    /*!*position: absolute;*!*/
    /*!*top: -45px;*!*/
    /*!*left: 20px;*!*/
/*}*/
/*.banner-container .right-banner .home-header-links a{*/
    /*color: #222;*/
    /*font-weight: 700;*/
    /*font-size: 16px;*/
    /*margin: 0 20px;*/
    /*cursor: pointer;*/
    /*position: relative;*/
/*}*/
/*!*轮播*!*/
/*.banner-container .banner-row .banner-slider{*/
    /*width: 550px;*/
    /*height: 240px;*/
/*}*/
/*.banner-container .banner-row .item{*/
    /*float: left;*/
/*}*/
/*.shadow, .shadow:hover{*/
    /*transition: box-shadow .5s;*/
/*}*/
/*.slider{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*position: relative;*/
/*}*/
/*#banner-slider, .slider-item{*/
    /*width: 550px;*/
/*}*/

/*.slider .slider-content{*/
    /*position: relative;*/
    /*height: 100%;*/
    /*transition: left .5s;*/
    /*transition-timing-function: ease-out;*/
    /*width: 10000000px;*/
/*}*/
/*.slider .slider-content .slider-item{*/
    /*float: left;*/
    /*position: relative;*/
    /*height: 100%;*/
/*}*/
/*.slider-img-div{*/
    /*display: inline-block;*/
    /*background:url(http://img.zcool.cn/community/01f09e577b85450000012e7e182cf0.jpg@1280w_1l_2o_100sh.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50%;*/
    /*background-size: cover;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*.slider .slider-pagination{*/
    /*position: absolute;*/
    /*z-index: 99;*/
    /*bottom: 10px;*/
    /*left: 50%;*/
/*}*/
/*.slider .slider-pagination .pagination{*/
    /*float: left;*/
    /*width: 10px;*/
    /*height: 2px;*/
    /*margin-right: 10px;*/
/*}*/

/*.slider-pagination .pagination{*/
    /*float: left;*/
    /*width: 10px;*/
    /*height: 2px;*/
    /*margin-right: 10px;*/
    /*transition: opacity .5s;*/
    /*background: #333;*/
/*}*/
/*.slider .btn-next{*/
    /*right: 10px;*/
/*}*/
/*.slider .btn{*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*background: #333;*/
    /*position: absolute;*/
    /*z-index: 99;*/
    /*top: 43%;*/
    /*border-radius: 40px;*/
    /*opacity: 0;*/
    /*transition: opacity .5s;*/
    /*transform: scale(.95);*/
/*}*/
/*.banner-container .banner-row .pic-1{*/
    /*width: 150px;*/
    /*height: 240px;*/
    /*margin-left: 10px;*/
    /*background-size: 150px;*/
/*}*/

/*底部*/
/*.button-nav{*/
    /*margin: 40px auto 0;*/
    /*width: 1190px;*/
    /*height: auto;*/
    /*border: 1px solid #E5E5E5;*/
    /*border-radius: 4px;*/
    /*background: #FFF;*/
/*}*/
/*.slider{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*position: relative;*/
/*}*/
/*.slider .slider-content{*/
    /*position: relative;*/
    /*height: 100%;*/
    /*transition: left .5s;*/
    /*transition-timing-function: ease-out;*/
    /*width: 10000000px;*/
/*}*/
/*.slider .slider-content .slider-item{*/
    /*float: left;*/
    /*position: relative;*/
    /*height: 100%;*/
/*}*/
/*.slider-img-div{*/
    /*display: inline-block;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50%;*/
    /*background-size: cover;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/