<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<link rel="stylesheet" type="text/css" href="../css/common.css">
<link rel="stylesheet" type="text/css" href="../css/register.css">
<link rel="stylesheet" type="text/css" href="//s0.meituan.net/bs/fe-web-meituan/34aeb91/css/main.css">
<link rel="stylesheet" type="text/css" href="../css/index.css">
<link rel="stylesheet" type="text/css" href="../css/iconfont.css">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<body>
    <div id="app">
        <header style="height: 123px;width: 100%;background: white;">
            <div class="logo">
                <a href="../home.html"><img src="../img/logopc.png" alt=""></a>
                <div class="title">
                    <span>已有跨业账号？</span>
                    <a href="../html/login.html">登录</a>
                </div>
            </div>
        </header>
        <div class="line"></div>
        <form action="">
            <div>
                <input type="text" v-model="formInline.phoneId" style="width: 315px;height: 40px;" placeholder="请输入手机号码">
            </div>
            <div>
                <input type="text" style="width: 193px;height: 40px;float: left" v-model="sendcode" placeholder="请输入验证码">
                <button type="button" style="height: 40px;float: right;width: 112px;" class="sendcode" @click="sendCode" v-cloak>{{codeType}}</button>
            </div>
            <div>
                <input type="password" v-model="password" style="width: 315px;height: 40px;" placeholder="请输入登录密码（6-16位数字或字母）">
            </div>
            <div>
                <input type="text" v-model="formInline.nickName" style="width: 315px;height: 40px;" placeholder="请输入昵称2-24个字符">
            </div>
            <div>
                <input type="text" v-model="formInline.invitationCode" style="width: 315px;height: 40px;" placeholder="请输入邀请码（选填）">
            </div>
            <p style="margin-top: 0px!important;margin-bottom: 25px;color: #8F8F8F;font-size: 16px;letter-spacing: 2px;text-align: left">请点击上传头像</p>
            <div>
                <el-upload
                        action="http://up.qiniu.com/"
                        :data="postData"
                        list-type="picture-card"
                        :limit="1"
                        :before-upload="beforeUpload"
                        :on-preview="handlePictureCardPreview"
                        :on-remove="handleRemove"
                        :on-success="handleSuccess">
                    <i class="el-icon-plus"></i>
                </el-upload>
                <el-dialog :visible.sync="dialogVisible">
                    <img width="100%" :src="formInline.headImageUrl" alt="">
                </el-dialog>
            </div>
            <button type="button" class="reBtn" @click="getRegister">注册</button>
            <p style="letter-spacing: 2px;">注册成功后，请扫码下载APP使用</p>
            <img src="../img/appcode.png" alt="" style="width: 142px;height: 142px;margin-top: 24px;margin-bottom: 25px;">
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../js/getDate.js"></script>
<script src="../plugins/core.js"></script>
<script src="../plugins/cipher-core.js"></script>
<script src="../plugins/tripledes.js"></script>
<script src="../plugins/mode-ecb.js"></script>
<script src="../js/register.js"></script>
</html>